@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom rounded-bottom">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">HospiEnCasa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Paciente">Paciente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Medico">Medico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Enfermera">Enfermera</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - HospiEnCasa -Privacy
    </div>
</footer>