@model Dominio.Entidades.Login
@{
    ViewData["Title"] = "Login page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login_body">

    @if (!string.IsNullOrEmpty(ViewBag.LoginError))
    {
        <div class="alert alert-danger" align="center">
            <strong>@ViewBag.LoginError</strong>
        </div>
    }

    <form asp-controller="Home" asp-action="Home" class="form-signin align-items-center" data-nordpass-autofill="login" data-np-checked="1" data-nordpass-watching="1">
        <div class="align-items-center" style="text-align:center;">
            <img class="mb-4" src="~/Icon.png" alt="logo" width="160" height="160">
            <h1 class="h3 mb-3 font-weight-normal">Por favor, iniciar sesión</h1>
        </div>

        <label asp-for="Correo" class="sr-only">Email address</label>
        <input type="email" asp-for="Correo" class="form-control" placeholder="Email address" >

        <label asp-for="Password" class="sr-only">Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password" >
        <div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal" asp-controller="Home" asp-action="Signup">Registrarse</button>
            <button class="btn btn-light btn-outline-secondary btn-lg btn-block" type="submit">Sign in</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}