<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospiEnCasa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom rounded-bottom">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">HospiEnCasa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Paciente">Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Medico">Medico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Enfermera">Enfermera</a>
                    </li>
                </ul>

                <!-- Button trigger modal asp-area="" asp-controller="Home" asp-action="Login"-->
                <button class="btn btn-secondary mr-2" data-toggle="modal" data-target="#LoginModal">
                    Log-in
                </button>/
                <!-- Button trigger modal asp-area="" asp-controller="Home" asp-action="Login"-->
                <button class="btn btn-light btn-outline-secondary ml-2" data-toggle="modal" data-target="#sign-upModal">
                    sign in
                </button>
            </div>


            <!-- login Modal -->
            <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="flex-column">
                                <h5 class="text-dark" id="LoginModal">Por favor, inicia sesión</h5>
                                <h6 class="text-secondary font-weight-light">It’s quick and easy.</h6>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="login_body align-items-center">
                                <form class="form-signin" data-nordpass-autofill="login" data-np-checked="1" data-nordpass-watching="1">
                                    <label for="inputEmail" class="sr-only">Email address</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer flex-column">
                            <p class="text-secondary font-weight-light">By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy. You may receive SMS Notifications from us and can opt out any time</p>
                            <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-light btn-outline-secondary">Sign In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sign-up  Modal -->
            <div class="modal fade" id="sign-upModal" tabindex="-1" role="dialog" aria-labelledby="sign-upModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="flex-column">
                                <h5 class="modal-title" id="sign-upModal">Por favor, registrate</h5>
                                <h6 class="text-secondary font-weight-light">It’s quick and easy.</h6>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="login_body align-items-center">
                                <form class="form-signin" data-nordpass-autofill="login" data-np-checked="1" data-nordpass-watching="1">
                                    <label for="inputNombre" class="sr-only">Nombre completo</label>
                                    <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" required="" autofocus="">

                                    <label for="inputApellido" class="sr-only">Apellidos</label>
                                    <input type="text" id="inputApellido" class="form-control" placeholder="Apellido" required="" autofocus="">

                                    <label for="inputCedula" class="sr-only">Cedula</label>
                                    <input type="text" id="inputCedula" class="form-control" placeholder="Cedula" required="" autofocus="">

                                    <label for="inputTelefono" class="sr-only">Telefono</label>
                                    <input type="text" id="inputTelefono" class="form-control" placeholder="Edad" required="" autofocus="">

                                    <label for="inputEmail" class="sr-only">Email address</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Correo" required="" autofocus="">

                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">

                                    <label for="inputEdad" class="sr-only">Edad</label>
                                    <input type="text" id="inputEdad" class="form-control" placeholder="Edad" required="" autofocus="">

                                    <label for="inputGenero" class="sr-only">Genero</label>
                                    <input type="text" id="inputGenero" class="form-control" placeholder="Genero" required="" autofocus="">

                                    <label for="inputCargo" class="sr-only">Cargo</label>
                                    <input type="text" id="inputCargo" class="form-control" placeholder="Cargo" required="" autofocus="">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer flex-column">
                            <p class="text-secondary font-weight-light">By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy. You may receive SMS Notifications from us and can opt out any time</p>
                            <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-light btn-outline-secondary">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - HospiEnCasa -Privacy
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
